.gradient {
    background: linear-gradient(to right, #119955   0%,#55ff55  100% );
    height: 100%;
    padding: 100px;
}
  .cardwidth{
      width: 18rem;
  }

  .container{
      width: 100%;
      height: 100vh;
  }