.homeVideoCont{
    padding-top: 80px;
    padding-bottom: 50px;
}
.whiteCir2{
    width: 186px !important;
    height:  186px !important;
}
.greenCir2{
    width: 194px !important;
    height:  194px !important;
}
.imgDiv2{
    width: 200px !important;
    height: 200px !important;
}
.cardArea2{
    width: 200px !important;
}

@media (max-width: 400px){
    .homeVideoCont{
        padding-top: 40px;
    }
    .slider-doc-f2{
        margin-top: -50px;
    }
}
.imgHead2{
    /* margin-left: 15% !important; */
    margin-bottom: 25px;
}
@media (min-width: 992px) and (max-width: 1120px){
    .imgHead2{
        /* margin-left: 15% !important; */
        margin-bottom: 18px !important;
    }
}